body {
  font-family: arial, sans-serif;
  background-color: #f9fafc;
  margin: 0;
  padding: 0;
}
/* navbar*/

.nav-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  align-self: start;
}

.left-nav {
  padding: 4px;
  height: 60px;
  view-box: 0 0 312 105;
}

.left-nav img {
  width: 111px;
  height: auto;
}

/* navbar */
.nav-container {
  display: grid;
  grid-template-columns: max-content 2fr 0.6fr;
  grid-template-rows: repeat(1, 1fr);
  /* padding: 15px; */
  height: 50px;
  align-items: center;
  gap: 8px;
  grid-column: span 2 / span 2;
  position: sticky;
  width: 100%;
  background-color: #f4f5f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-nav {
  align-items: center;
  display: flex;
}

.left-nav img {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.mid-nav button {
  background: none;
  border: none;
  color: rgb(30, 26, 26);
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px; /* jarak antara login dan tombol */
  height: 32px;
}

.right-nav .login {
  color: rgb(30, 26, 26);
  text-decoration: none;
  font-size: 16px;
}

.right-nav .btn-primary {
  background: #007bff; /* biru ala Trello */
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3 ease;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.right-nav .btn-primary:hover {
  background: #0056b3;
}

/* kolom kiri */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f3f5;
}

.content-left {
  padding: 10px;
  margin-top: 25%;
  margin-left: 25%;
  margin-bottom: 25%;
}

.right video {
  width: 100%;
  height: 100%;
}

.head-page-1 {
  font-size: 48px;
}

.isi-1 {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  padding: 30px;
  margin-left: 50px;
}

.lobby h4 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.lobby h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.mid-nav ul {
  list-style: none;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f3f5;
}

.left {
}

.content-left {
  padding: 10px;
  margin-top: 25%;
  margin-bottom: 25%;
}

.right video {
  width: 100%;
  height: 100%;
}

.head-page-1 {
  font-size: 48px;
}

.lobby {
  width: 100%;
}
