body {
  font-family: arial, sans-serif;
  background-color: white;
  margin: auto; /* Sesuaikan nilai 20px sesuai kebutuhan Anda */
  box-sizing: border-box; /* Ini penting untuk memastikan margin tidak menambah ukuran elemen secara keseluruhan */
  padding: 0;
  overflow-x: hidden; /* Mencegah scroll horizontal */
}
/* navbar*/

.nav-bg {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
  margin: 0 auto;
  align-self: start;
  width: 100%;
  max-width: 1260px; /* atur sesuai kebutuhan */
  height: 65px;
  background: transparent; /* biar transparan, background di .nav-bg */
  font-family: "Charlie-text";
}

.left-nav {
  padding: 4px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.left-nav img {
  width: 111px;
  height: auto;
}

.mid-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mid-nav button {
  background: none;
  border: none;
  color: rgb(30, 26, 26);
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.mid-nav button:hover {
  color: #007bff;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px; /* jarak antara login dan tombol */
  height: 60px;
}

.right-nav .login {
  color: rgb(30, 26, 26);
  text-decoration: none;
  font-size: 16px;
}

.right-nav button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
}

.down-arrow {
  width: 12px;
  height: auto;
  margin-left: 8px;
  vertical-align: middle;
}

.right-nav .btn-primary {
  background: #007bff; /* biru ala Trello */
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3 ease;
  cursor: pointer;
  padding: 25px 25px;
}

.right-nav .btn-primary:hover {
  background: #0056b3;
}

.konten-3 .konten-3-text{
  padding: 16px;
  margin: 0px 16px;
  padding-left: 310px;
}

.konten-3 .konten-3-text .headtext p{
  font-size: 16px;
  font-family: "Charlie-text";
  font-weight: 900;
}

.konten-3 .konten-3-text .headtext h2{
  font-size: 36px;
  padding: 0px 0px 16px;
  margin: 0px 0px 8px;
  font-family: "Charlie-display";
}

.konten-3 .konten-3-text p {
  font-size: 20px;
  font-family: "Charlie-text";
  width: 490px;
}

.triple-konten-3 {
  display: grid;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.konten-3 .triple-konten-3 .integrations{
  padding: 40px;
  background-color: #Fafbfc;
  border-radius: 12px;
}
.konten-3 .triple-konten-3 .integrations h3 {
  margin: 16px 16px;
  font-family: "Charlie-display";
}

.konten-3 .triple-konten-3 .integrations p{
  width: 210px;
  font-family: "Charlie-text";
}

.konten-3 .triple-konten-3 .integrations .Browse-button{
  padding: 11.2px 16px 12.8px;
  background-color: #ffffff;
  border: #30a5c9;
  border-style: groove;
  border-radius: 12px;
  font-family: "charlie-text";
}

.konten-3 .triple-konten-3 .integrations .Browse-button:hover{
  background-color: rgb(167, 170, 217);
}

.konten-3 .triple-konten-3 .automation{
  padding: 40px;
  background-color: #Fafbfc;
  border-radius: 12px;
}

.konten-3 .triple-konten-3 .automation h3{
  margin: 16px 16px;
  font-family: "charlie-display";
}

.konten-3 .triple-konten-3 .automation p {
  width: 180px;
  font-family: "Charlie-text";
}

.konten-3 .triple-konten-3 .automation .Automation-button{
  padding: 11.2px 16px 12.8px;
  background-color: #ffffff;
  border: #30a5c9;
  border-style: groove;
  border-radius: 12px;
  font-family: "charlie-text";
}

.konten-3 .triple-konten-3 .automation .Automation-button:hover{
  background-color: rgb(167, 170, 217);
}


.konten-3 .triple-konten-3 .card-mirroring {
  padding: 50px;
  background-color: #Fafbfc;
  border-radius: 12px;
}

.konten-3 .triple-konten-3 .card-mirroring h3{
  margin: 0px 0px 8px;
  font-family: "Charlie-display";
}

.konten-3 .triple-konten-3 .card-mirroring p{
  width: 170px;
  font-family: "charlie-text";
}

.konten-3 .triple-konten-3 .card-mirroring .Compare-button{
  padding: 11.2px 16px 12.8px;
  background-color: #ffffff;
  border: #30a5c9;
  border-style: groove;
  border-radius: 12px;
  font-family: "charlie-text";
}

.konten-3 .triple-konten-3 .card-mirroring .Compare-button:hover{
    background-color: rgb(167, 170, 217);
}

@font-face {
  font-family: "Charlie-text";
  src: url(/fonts/charlie-display-font-1757553263-0/charlie-display-3.ttf);
}

@font-face {
  font-family: "Charlie-display";
  src: url(/fonts/charlie-display-font-1757553263-0/charlie-display.ttf);
}